
/* css */

/* colors */
.blackbar{fill: #000112; }
.bluebar{fill: #009BDD;}
.redbar{fill: #F03327; }

* {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.hammerhead-parent{
  position: relative;
}

/* sizes xs, s */
.helmet {
  font-size: 12vw;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.hammerhead {
  font-size: 2.75vw;
  line-height: 2.8vw;
  bottom: 5vw;
  position: absolute;
}

.date {
  font-size: 2.5vw;
  line-height: 2.8vw;
  text-align: right;
}

.vatican {
  font-size: 2.5vw;
  line-height: 2.8vw;
  text-align: left;
}

/* size m */
@media (min-width: 768px) {
  .date {
    font-size: 2vw;
    line-height: 2.25vw;
  }

  .vatican {
    font-size: 2vw;
    line-height: 2.25vw;
  }
}

/* size l, xl */
@media (min-width: 992px) {
  .date {
    font-size: 1.5vw;
    line-height: 1.7vw;
  }

  .vatican {
    font-size: 1.5vw;
    line-height: 1.7vw;
  }
}
