
/* css */

/* colors */
.blackbar{fill: #000112; }
.bluebar{fill: #009BDD;}
.redbar{fill: #F03327; }

* {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.hammerhead-parent{
  position: relative;
}

.helmet {
  font-size: 10vw;
  text-align: center;
}

.hammerhead {
  font-size: 1.6875vw;
  line-height: 2vw;
  bottom: 4vw;
  position: absolute;
}

.date {
  font-size: 1.3vw;
  line-height: 1.7vw;
  text-align: right;
}

.vatican {
  font-size: 1.3vw;
  line-height: 1.7vw;
  text-align: left;
}
